<!-- views/search.ejs -->
<!doctype html>
<html>
<head>
    <title>LISiT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
    <!--search bar-->
    <div>
        <form action="search" method="GET">
            <input type="text" name="q"/>
            <input type="submit" value="search" />
        </form>
    </div>

    <!--total results-->
    <p>Total results: <%= total_results %></p>
        
    <!--results-->
    <% for(var i = 0; i < results.length; i++) { %>
        <% switch(results[i].media_type) {
            case "tv": %>
                <div class="media">
                    <div class="media-left">
                        <% if(results[i].poster_path != null) { %>
                            <a href="#"><img class="media-object" src="http://image.tmdb.org/t/p/w92<%= results[i].poster_path %>" height="62" alt=""></a>
                        <% } else { %>
                            <a href="#"><img class="media-object" src="https://crestaproject.com/demo/nucleare-pro/wp-content/themes/nucleare-pro/images/no-image-box.png" width="41.94" alt=""></a>
                        <% } %>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><%= results[i].name %></h4>
                        <p>tv</p>
                    </div>
                </div>
                <% break;
            case "movie": %>
                <div class="media">
                    <div class="media-left">
                        <% if(results[i].poster_path != null) { %>
                            <a href="#"><img class="media-object" src="http://image.tmdb.org/t/p/w92<%= results[i].poster_path %>" height="62" alt=""></a>
                        <% } else { %>
                            <a href="#"><img class="media-object" src="https://crestaproject.com/demo/nucleare-pro/wp-content/themes/nucleare-pro/images/no-image-box.png" width="41.94" alt=""></a>
                        <% } %>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><%= results[i].title %></h4>
                        <p>movie</p>
                    </div>
                </div>
                <% break;
            case "person": %>
                <div class="media">
                    <div class="media-left">
                        <% if(results[i].profile_path != null) { %>
                            <a href="#"><img class="media-object" src="http://image.tmdb.org/t/p/w92<%= results[i].profile_path %>" width="41.33" alt=""></a>
                        <% } else { %>
                            <a href="#"><img class="media-object" src="https://crestaproject.com/demo/nucleare-pro/wp-content/themes/nucleare-pro/images/no-image-box.png" width="41.94" alt=""></a>
                        <% } %>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><%= results[i].name %></h4>
                        <p>person</p>
                    </div>
                </div>
                <% break;
            default:
        } 
    } %>
</div>

<!--pagination-->
<div class="text-center">
    <nav aria-label="Page navigation">
    <ul class="pagination">
        <% total_pages = parseInt(total_pages);
        page = parseInt(page);

        var prePage = 1;
        if(page > 1) { prePage = page - 1; } %>
        <li>
        <a href="search?q=<%= q %>&p=<%= prePage %>" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
        </li>
        <% if(total_pages < 10) { %>
            <% for(var i = 1; i <= total_pages; i++) { %>
                <% if (i == page) { %>
                    <li class="active"><a href="search?q=<%= q %>&p=<%= i %>"><%= i %></a></li>
                <% } else { %>
                    <li><a href="search?q=<%= q %>&p=<%= i %>"><%= i %></a></li>
                <% } %>
            <% } %>
        <% } else if(page <= 5) { %>
            <% for(var i = 1; i <= 10; i++) { %>
                <% if (i == page) { %>
                    <li class="active"><a href="search?q=<%= q %>&p=<%= i %>"><%= i %></a></li>
                <% } else { %>
                    <li><a href="search?q=<%= q %>&p=<%= i %>"><%= i %></a></li>
                <% } %>
            <% } %>
        <% } else if(page >= total_pages - 5) { %>
            <% for(var i = total_pages - 9; i <= total_pages; i++) { %>
                <% if (i == page) { %>
                    <li class="active"><a href="search?q=<%= q %>&p=<%= i %>"><%= i %></a></li>
                <% } else { %>
                    <li><a href="search?q=<%= q %>&p=<%= i %>"><%= i %></a></li>
                <% } %>
            <% } %>
        <% } else { %>
            <% for(var i = page - 5; i < page + 5; i++) { %>
                <% if (i == page) { %>
                    <li class="active"><a href="search?q=<%= q %>&p=<%= i %>"><%= i %></a></li>
                <% } else { %>
                    <li><a href="search?q=<%= q %>&p=<%= i %>"><%= i %></a></li>
                <% } %>
            <% } %>
        <% } %>
        <% var nextPage = total_pages;
        if(page < total_pages) { nextPage = page + 1; } %>
        <li>
            <a href="search?q=<%= q %>&p=<%= nextPage %>" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
    </nav>
<div class="text-center">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>