<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>LISiT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
        .readmore {
            /*height: 15em !important; /* that's one line, 2em for 2 lines, etc...*/
            /*line-height: 1.2em; /* the height of one text line */
            overflow: hidden;
        }
        .line-limit {
            height: 8em; /* that's one line, 2em for 2 lines, etc...*/
            line-height: 1.2em; /* the height of one text line */
            overflow: hidden;
        }
    </style>
</head>
<body>
<!--nav bar-->
<% include ../partials/nav_bar %>

<!--breadcrumb-->
<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb mb-0" style="border-radius: 0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
</nav>

<div class="container-fluid mb-3">
<div class="row">
    <div class="col-2 pl-0 pr-0">
        <% var posterPath = null; %>
        <% if(posterPath == null) { // check if poster is null
            posterPath = "http://epaper2.mid-day.com/images/no_image_thumb.gif"; 
        } else {
            posterPath = "http://image.tmdb.org/t/p/w342/" + posterPath;
        } %>
        <img class="" src="<%= posterPath %>" alt="" style="width: 100%">
        <div class="pl-2 mt-3 mr-2">
            <h5>Alternative Titles</h5>
            <b>Title:</b> <%= movie.title %><br />
            <b>Original Title:</b> <span id="original-title"><%= movie.original_title %></span><br />
            <br />
            <h5>Information</h5>
            <b>Type:</b> <br />
            <b>Status:</b> <span id="status"><%= movie.status %></span><br />
            <b>Release Date:</b> <span id="release-date"></span><br />
            <b>Production Companies:</b> <span id="production-companies"></span><br />
            <b>Genres:</b> <span id="genres"></span><br />
            <b>Duration:</b> <span id="duration"><%= movie.duration %></span><br />
            <b>Rating:</b> <span id="rating"></span>
        </div>
    </div>
    <div class="col-10 mt-2 pr-0">
        <div class="mr-3">
            <h3 class="mt-0"><%= movie.title %> <span id="year"></span></h3>
            <h4>Score: <span id="score"></span> | Vote Count: <span id="vote-count"></span></h4>
            <h5>Synopsis</h5>
            <span id="synopsis" style="white-space: pre-line"><%= movie.synopsis %></span>
            <hr>
            <h5>Collection</h5>
            <p id="collection"></p>
            <hr>
            <h5>Cast & Crew</h5>
            <div id="credits" class="row"></div>
            <a href="#">Full Cast & Crew</a>
            <hr>
            <h5 id="reviews">Reviews</h5>
            <a href="#">More Reviews</a>
            <hr>
            <h5>Recommendations</h5>
            <ul id="recommendations" class="list-unstyled"></ul>
            <a href="#">More Recommendations</a>
        </div>
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!--read more-->
<script src="js/readmore.min.js"></script>

<!--getMonth-->
<script src="js/getMonth.js"></script>
</body>
</html>