<!-- views/search.ejs -->
<!doctype html>
<html>
<head>
    <title>LISiT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
        .line-limit {
            height: 8em; /* that's one line, 2em for 2 lines, etc...*/
            line-height: 1.2em; /* the height of one text line */
            overflow: hidden;
        }
    </style>
</head>
<body>
<!--nav bar-->
<% include ../partials/nav_bar %>
     
<!--results-->
<ul class="list-unstyled">
    <% for(var i = 0; i < results.length; i++) { %>
        <% var posterPath;
        var name;
        var mediaType; 
        var overview;%>
        <% switch(results[i].media_type) {
        case "tv":
            posterPath = results[i].poster_path;
            name = results[i].name;
            mediaType = "tv";
            overview = results[i].overview;
            break;
        case "movie":
            posterPath = results[i].poster_path;
            name = results[i].title;
            mediaType = "movie";
            overview = results[i].overview;
            break;
        case "person":
            posterPath = results[i].profile_path;
            name = results[i].name;
            mediaType = "person";
            overview = "";
            break;
        default:
        } %>
        <% var pp = posterPath; %>
        <% if(posterPath == null) { // check if poster is null
            posterPath = "http://epaper2.mid-day.com/images/no_image_thumb.gif"; 
        } else {
            posterPath = "http://image.tmdb.org/t/p/w92/" + posterPath;
        } %>
        <li class="media">
            <a href="info?id=<%= results[i].id %>&mt=<%= mediaType %>&pp=<%= pp %>&t=<%= name %>"><img class="mr-3" src="<%= posterPath %>" alt="" width="92" height="138" style="object-fit: cover"></a>
            <div class="media-body line-limit mr-3">
            <a href="info?id=<%= results[i].id %>&mt=<%= mediaType %>&pp=<%= pp %>&t=<%= name %>"><h5 class="mt-2 mb-0"><%= name %></h5></a>
            <p><%= mediaType %></p>
            <p><%= overview %></p>
            </div>
        </li>
        
    <% } %>
</ul>

<!--total_results-->
<p class="ml-2">Total results: <%= total_results %></p>

<!--pagination-->
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <% total_pages = parseInt(total_pages); 
        page = parseInt(page);

        var prePage = 1;
        if(page > 1) { prePage = page - 1; } %>
        <li class="page-item"><a class="page-link" href="search?q=<%= q %>&p=<%= prePage %>">Previous</a></li>
        <% if(total_pages < 10) { %>
            <% for(var i = 1; i <= total_pages; i++) { %>
                <% if (i == page) { %>
                    <li class="page-item active"><a class="page-link" href="search?q=<%= q %>&p=<%= i %>"><%= i %></a></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="search?q=<%= q %>&p=<%= i %>"><%= i %></a></li>
                <% } %>
            <% } %>
        <% } else if(page <= 5) { %>
            <% for(var i = 1; i <= 10; i++) { %>
                <% if (i == page) { %>
                    <li class="page-item active"><a class="page-link" href="search?q=<%= q %>&p=<%= i %>"><%= i %></a></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="search?q=<%= q %>&p=<%= i %>"><%= i %></a></li>
                <% } %>
            <% } %>
        <% } else if(page >= total_pages - 5) { %>
            <% for(var i = total_pages - 9; i <= total_pages; i++) { %>
                <% if (i == page) { %>
                    <li class="page-item active"><a class="page-link" href="search?q=<%= q %>&p=<%= i %>"><%= i %></a></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="search?q=<%= q %>&p=<%= i %>"><%= i %></a></li>
                <% } %>
            <% } %>
        <% } else { %>
            <% for(var i = page - 5; i < page + 5; i++) { %>
                <% if (i == page) { %>
                    <li class="page-item active"><a class="page-link" href="search?q=<%= q %>&p=<%= i %>"><%= i %></a></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="search?q=<%= q %>&p=<%= i %>"><%= i %></a></li>
                <% } %>
            <% } %>
        <% } %>
        <% var nextPage = total_pages;
        if(page < total_pages) { nextPage = page + 1; } %>
        <li class="page-item"><a class="page-link" href="search?q=<%= q %>&p=<%= nextPage %>" aria-label="Next">Next</a></li>
    </ul>
</nav>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>